<app-navbar-container></app-navbar-container>

<main role="main">
  <div class="container-fluid p-0">
    <div class="jumbotron">

      <div class="font-28 m-3 font"> Create Team </div>

      <div class="row mt-2 ">
        <div class="form-group ml-4">
          <label class="font-20 font-weight-bold labelcolor font" for="exampleFormControlFile1">Team Name</label>
          <input class="form-control input-size p-3 font" type="text" placeholder="Enter Team Name" />
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 ">
          <div class="form-group ml-2 w-100">
            <label class="font-20 font-weight-bold labelcolor font" for="exampleFormControlFile1">Team Member</label>
            <!-- <input class="form-control font m-0 p-3" type="text" placeholder="Select Team Member" /> -->
            <ng-select [multiple]="true" [items]="serverSideFilterItems" [(ngModel)]="selectedPeople" placeholder="Select people" bindLabel="name"
              bindValue="id" [typeahead]="peopleTypeahead">
              <ng-template ng-typetosearch-tmp>
                <div class="ng-option disabled">
                  Start typing...
                </div>
              </ng-template>
              <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                  No data found for "{{searchTerm}}"
                </div>
              </ng-template>
              <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                  Fetching data for "{{searchTerm}}"
                </div>
              </ng-template>

              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="d-flex">
                  <img class="img_size mr-2" [src]="item.profileImage" />
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div class="form-group ml-2 w-100">
            <label class="font-20 font-weight-bold labelcolor font" for="exampleFormControlFile1">Team Description</label>
            <textarea class="form-control font m-0" rows="6" type="text"></textarea>
          </div>
        </div>


        <div class="col-md-6 ">
          <div class="font-20 font-weight-bold labelcolor font mb-2 "> Selected Team Members </div>
          <div class="card-text shadow bg-white p-0 card-minheight">
          </div>
        </div>

      </div>

      <div class="row w-100 justify-content-center mt-3">
        <button type="button" class="btn btn-danger create-button font-weight-bold"> Create Team </button>
      </div>
    </div>
  </div>
</main>